* {
    margin: 0px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

h1 {
    font-size: 250%;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-size: 150%;
}

.horizontalFlex {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2%;
}

.topContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
    justify-content: center;
}

.bottomContainer {
    display: flex;
    height: 70vh;
}

.leftContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;
    padding: 5%;
}

.rightContainer {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;
}

.rightContainer p {
    padding: 0% 15% 0% 0%;
    font-size: 120%;
}

.avatar {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-image: url('Public/images/Avatar1.jpeg');
    background-size: cover;
    background-position: center;
    background-color: green;
    position: relative;
}

.regenerateAvatar {
    width: 10%;
    height: 10%;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    color: white;
    font-size: 200%;
    color: black;
}

.startButton {
    background-color: green;
}

button {
    cursor: pointer;
}

.startButton {
    border: none;
    padding: 10px 40px;
    border-radius: 4px;
}

.centreText {
    text-align: center;
}