* {
    margin: 0px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

h1 {
    font-size: 250%;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-size: 150%;
}

button {
    cursor: pointer;
}

.centreText {
    text-align: center;
}
