.game-pageContainer {
    display: flex;
    flex-direction: row;
}

.game-column {
    flex: 1;
    padding: 10px;
}

.game-timer {
    text-align: center;
    background-color: red;
    font-family: monospace;
    padding: 5px 10px;
    font-size: 1.3rem;
}

.game-leftThird {
    background-color: rgba(0, 0, 0, 0.9);
    height: 100vh;
    padding: 0px;
    margin-right: 10px;
}

.game-centreThird {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.game-proverbContainer {
    background-color: rgb(189, 189, 189);
    padding: 10px 30px;
    border-radius: 5px;
}

.game-canvasPlacement {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.game-canvas {
    cursor: crosshair;
    background-color: rgba(255, 255, 255, 0.895);
    border: 7px solid #8b5f13;
    padding: 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4), /* Inner shadow */
                0 0 10px rgba(0, 0, 0, 0.2); /* Outer shadow */
    border-radius: 3px;
}

.game-playersList {
    padding: 3%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: white;
    height: auto;
    width: 100%;
}

.game-guessContainer {
    max-width: 600px;
    height: 70%;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.game-guessBox {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.game-guessInput {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
}

.game-guessInput input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.game-guessInput button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.game-guessInput button:hover {
    background-color: #0056b3;
}

.game-guess {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.game-guess p {
    margin: 0;
    font-size: 16px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.game-likeButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.game-likeButton:focus {
    outline: none;
}

.game-liked {
    color: red;
}