.canvasPlacement {
    display: flex;
    align-items: center;
    width: 100vw;
}

.gameContainer {
    display: flex;
    flex-direction: column;
    padding: 2%;
    align-items: center;
    width: 100vw;
}

canvas {
    cursor: crosshair;
    border: 1px solid #000000;
    background-color: rgba(255, 255, 255, 0.895);
}