.pageContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(#d4ebff, #9dffda);
}

.horizontalFlex {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2%;
}

.topContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
    justify-content: center;
}

.bottomContainer {
    display: flex;
    height: 20vh;
    gap: 50px;
}

.leftContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;
    padding: 0% 0% 0% 20%;
}

.rightContainer {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;
    padding: 0% 20% 0% 0%;
}

    .rightContainer p {
        padding: 0% 15% 0% 0%;
        font-size: 120%;
    }

.avatar {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-image: url('public/avatars/Avatar1.jpeg');
    background-size: cover;
    background-position: center;
    background-color: gray;
    position: relative;
}

.regenerateAvatar {
    width: 10%;
    height: 10%;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    color: white;
    font-size: 100%;
    color: black;
}

#enterLobby {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
}

#enterLobby input {
    padding: 10px;
    border: none;
}

.startButton {
    background-color: #0fd20f;
    max-width: 70%;
}

.startButton {
    border: none;
    padding: 10px 40px;
    border-radius: 4px;
}
