body {
    background-image: linear-gradient(#d4ebff, #9dffda);
}

.lobbyContainer {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.playersList {
    height: 100%;
    width: 35%;
    border: black 3px;
    background-color: red;
    padding: 3%;
}

.lobbyButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.smallAvatar {
    max-height: 50px;
    max-width: 50px;
}

.url-field-container {
    position: relative;
    display: flex;
    align-items: center;
}

.url-field {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.copy-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
}